$black: #2f2f2f;
$white: #fdfdfd;
$grey: rgb(180, 180, 180);

$font-size-medium: 1.5em;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(245, 243, 239);
}

.app {
  font-family: Arial, Helvetica, sans-serif;
}

.homepage-links {
  width: 90vw;
  margin: auto;
  padding: 10px 0 20px 0;
  padding-top: 100px;
  max-width: 1200px;
  display: grid;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2em;

  .homepage-item {
    font-size: 1.5em;
    list-style-type: none;
    margin: auto;
    margin-top: 10px;
    left: 0;
    border: 1px solid $grey;
    text-align: center;
    width: 250px;
    padding: 20px;
    @media (max-width: 700px) {
      width: 90vw;
      padding: 20px 0;
      margin: auto;
      grid-gap: 0.5em;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  .homepage-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $black;
  }

  .english-word-link {
    color: $grey;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 0 5vw 0 5vw;
  align-items: center;
  height: 10vh;
  position: absolute;

  .nav-link {
    padding: 0;
    font-size: 20px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .nav-item {
    font-weight: 200;
    font-size: 1.8em;
  }
}

.word-page {
  .japanese-word {
    font-weight: 600;
    font-size: $font-size-medium;
  }

  .romaji-word {
    color: $grey;
    font-size: 1.5em;
    font-style: italic;
    padding-left: 10px;
  }

  .english-word {
    font-size: $font-size-medium;
  }

  .sentences-heading {
    font-weight: 200;
    font-size: $font-size-medium;
    text-decoration: underline;
  }

  .sentence-container {
    padding-bottom: 40px;
  }

  .japanese-sentence {
    margin: 0;
    font-weight: 600;
    font-size: $font-size-medium;
  }

  .english-sentence {
    margin: 0;
    font-size: $font-size-medium;
  }
}

.about-container {
  padding-top: 100px;
  width: 90vw;
  margin: auto;

  .about-text {
    font-size: $font-size-medium;
  }
}
